@import "@/components/Button/Button.module.scss";

.artists {
}

.content {
  padding: var(--content-spacing) var(--g-grid-gutter);
}

.title {
  margin-bottom: 16px;
}

.subtitle {
  margin-bottom: 16px;
}

.selectedArtistsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.selectedArtist {
  position: relative;
  background: none;
  border: none;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    color: var(--c-white);
    transform: translate(-50%, -50%);
  }

  &:focus,
  &:hover {
    svg {
      display: block;
    }
  }
}

.selectedArtistImage {
  display: block;
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.footer {
  text-align: center;
}
