.track {
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: hidden;
  padding-inline-end: 16px;
  border-radius: 4px;
  background-color: var(--l-contrast-color);
  transition: all 300ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--l-contrast-color-hover);
  }
}

.trackAlbumImage {
  flex: 0 0 80px;
  height: 80px;
  width: 80px;
}

.trackInfo {
  max-width: 90%;
  overflow: hidden;
  padding-block: 16px;
  text-overflow: ellipsis;
}

.trackName {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  white-space: nowrap;
}

.trackArtist {
  font-size: 14px;
  line-height: 16px;
}

.actions {
  margin-left: auto;

  .action {
    color: inherit;
    font-size: 16px;
    border: none;
    background: none;
  }

  svg {
    display: block;
  }
}
