@import "@/styles/base/breakpoints.scss";

.recommendedArtists {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recommendedArtistsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  width: 100%;
  margin-top: 8px;

  @media (min-width: $bp-x-small-min) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: $bp-medium-min) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.recommendedArtist {
  display: flex;
  flex-direction: column;
  padding: 0 8px;

  composes: artistCard from "@/components/ArtistCard/ArtistCard.module.scss";
}

.name {
  z-index: 10;
  color: var(--c-white);
  text-transform: uppercase;
  text-align: center;
}

.followButton {
  z-index: 10;
  border-radius: 50px;
  composes: button from "@/components/Button/Button.module.scss";
}
